* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: Times New Roman, Times, serif;
}

.container {
  display:flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.login-form {
  background-color: #1e1e1e;
  color: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #00bfff;
}

section {
  margin: 15px 0;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #00bfff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}